In [1]:
import pandas as pd
from fuzzy import ExtractiveFuzzy

In [2]:
data = pd.read_csv('FakeNameGenerator.com_2612d063.csv')
data['name'] = data['Surname'] + ' ' + data['GivenName']

In [5]:
model = ExtractiveFuzzy(n_top=3, n_jobs=3)
res = model.fit_transform(X=data[['name']].iloc[:1500].values.tolist(), y=data[['name']].iloc[1500:].values.tolist())

In [8]:
res

                     0_x index_max     score                   0_y
0        Tachel Grégoire       473  0.685738     Parizeau Grégoire
1        Tachel Grégoire       807  0.636351     Frappier Grégoire
2        Tachel Grégoire      1374   0.61325  Berthelette Grégoire
3     Marcheterre Alexis       309  0.656582    Marcheterre Ormazd
4     Marcheterre Alexis       327  0.615103   Marcheterre Camille
...                  ...       ...       ...                   ...
1495       Bazin Nicolas      1104  0.546786        Parent Nicolas
1496       Bazin Nicolas       656  0.525073        Racine Nicolas
1497        Lacombe Roch       200  0.614671        Lacombe Hugues
1498        Lacombe Roch       191  0.335821        Coulombe Nouel
1499        Lacombe Roch       965  0.326005      Coulombe Josette

[4500 rows x 4 columns]